@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 210 40% 23%;
  }

  body {
    @apply bg-hueso text-marino antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
